.env*
node_modules
dist

# backend
backend/node_modules
backend/aws/cognito
backend/aws/s3

# db
container/README.md
database-old/
database/initdb.d/export_data
database/initdb.d/export_prod
database/db
database/drawio/erd.svg

# scripts
local_ec2_script/

# log
*.log
log/