.cardContent {
    display: flex;
    width: 100%
}

.inlineInput {
    flex: auto;
}

.inlineButton {
    flex: none;
    margin: 10px;
}

.messageBox {
    margin: 10px 0px 20px !important;
    border: none;
}
