.button {
  margin: 10px !important;
}

.separate {
  margin: 10px !important;
}

.top-button {
  margin: 20px !important;
  width: 100px;
  height: 100px;
}

.no-margin {
  margin: 0px !important;
}

.no-border {
  border: none !important;
}

.after-inline {
  flex: none;
  margin: 10px;
}